{{ include('layout/home.twig') }}
<div id="content-container">
    <div id="page-content">
        <div class="row">
            <div class="tab-base">

                <!--Nav Tabs-->
                <div class="panel">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#demo-lft-tab-3"><span class="badge badge-success">Laporan</span></a>
                            </li>

                        </ul>
                    </div>
                    <div>

                        <!--Tabs Content-->
                        <div class="tab-content">
                            
                            <div id="demo-lft-tab-3" class="tab-pane fade active in">
                                <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-3">
                                            <div class="panel media pad-all">
                                                <div class="media-left">
                                                    <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                        <a href="https://educatecode.com/shop"><i class="fa fa-calculator fa-2x"></i></a>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <p class="text-2x mar-no text-thin">1</p>
                                                    <p class="text-muted mar-no"><a href="https://educatecode.com/shop">Educatecode</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div> 
    <div id="page-content">
        <div class="row">
            <div class="panel">
                <!--<form id="chart" method="post" action="">
                <table class="table table-striped table-responsive">
                    <tr>
                        <td>Product </td>
                        <td>
                            <select name="product_id" class="form-control selected" >
                                <option value=""></option>
                {% for a in data %}
                    <option value="{{ a.product_id }}">{{ a.name }}</option>
                {% endfor %}
            </select>
        </td>
       
        <td>date</td>
        <td><input type="text" name="date1" class="from-control datepicker"></td>
        <td>date</td>
        <td><input type="text" name="date2" class="from-control datepicker">
        </td>
        <td><input type="submit" class="btn btn-block  btn btn-danger" value="cari">
    </tr>
</table>
</form> -->
                <div id="x" style="height:300px"></div>



            </div>
        </div>
    </div>
    <!--<div id="page-content">
        <div class="row">
            <div class="panel">
                <div id="y" style="height:300px"></div>

            </div>
        </div>
    </div>-->
</div>



        {{ include('layout/footer.twig') }}